<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # =============================
    # AUTH HEADERS
    # =============================
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # =============================
    # TRAILING SLASH
    # =============================
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # =============================
    # API ROUTES (JANGAN MASUK SPA)
    # =============================
    RewriteCond %{REQUEST_URI} ^/api/ [OR]
    RewriteCond %{REQUEST_URI} ^/estruk/api/
    RewriteRule ^ index.php [L]

    # =============================
    # FILE / FOLDER REAL
    # =============================
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # =============================
    # SPA FALLBACK (VUE)
    # =============================
    RewriteRule ^ index.html [L]
</IfModule>
